/* Footer Style */

#footer {
    font-family: var(--main-font-family);
    background-color: var(--mzd-black-color);
    width: 100%;
    overflow: hidden;
    /* opacity: 0; */
}
/* #footer.effect{
    animation: slideIn 1.5s ease;
    opacity: 1;
}
#footer.effect .privacy a{
    opacity: 0;
}
#footer.effect .privacy a{
    animation: fade-in-right 1.5s ease;
    animation-delay: 2s;
    opacity: 1;
} */
#footer .footer-content {
    max-width: var(--page-max-width);
    background-color: var(--mzd-black-color);
    padding: 120px 0;
    margin: 0 auto;
}

#footer .footer-top {
    position: relative;
    /* border-bottom: 1px solid var(--mzd-black-color-3); */
    padding-bottom: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
#footer .footer-top:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--mzd-black-color-2);
}

#footer .page-list {
    width: 50%;
    display: flex;
    align-items: flex-start;
}

#footer ul#footer-nav {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: space-between;
    gap: 48px;
}

#footer ul#footer-nav li.child {
    width: 50%;
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
}

#footer ul#footer-nav li.child a.child {
    font-style: normal;
    font-weight: var(--font-weigth-bold);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--mzd-black-color-5);
    display: flex;
    width: auto;
    transition: 0.5s;
}

#footer ul#footer-nav li.child a.child:hover {
    color: var(--mzd-blue-color);
}

#footer ul#footer-nav li.child a.child .text {
    position: relative;
}

#footer ul#footer-nav li.child a.child .text::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/arrows/foward-gray-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

#footer ul#footer-nav li.child a.child:hover .text::after {
    background-image: url(../assets/arrows/foward-blue-arrow.png);
    transform: translateX(5px) translateY(-50%);
}

#footer ul#footer-subnav {
    list-style-type: none;
    width: 100%;
    padding-top: 24px;
    display: grid;
    align-content: space-between;
    gap: 16px;
}

#footer ul#footer-subnav li {
    width: 100%;
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
}

#footer ul#footer-subnav li a {
    font-family: var(--sub-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #898989;
}

#footer span.page-list-button {
    padding: 10px 80px 10px 10px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
    border: 3px solid var(--line-color);
    color: var(--mzd-black-color-6);
}

#footer .page-info {
    background-color: #222222;
    width: 50%;
    height: 100%;
    padding: 60px;
}
#footer .theme-list-mobile{
    display: none;
}

#footer .page-info h4.info-title {
    font-style: normal;
    font-weight: var(--font-weigth-bold);
    text-transform: capitalize;
    margin-bottom: 20px;
    color: var(--mzd-black-color-6);
}

#footer .page-info .info-content {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-5);
}

#footer .page-info .info-button {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#footer .page-info .info-button span {
    font-family: var(--sub-font-family);
    font-style: normal;
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 218px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    /* background-color: var(--mzd-black-color-6);
    color: var(--mzd-black-color);
    border: 1px solid var(--mzd-black-color-3); */
    background-color: var(--mzd-blue-color);
    color: var(--mzd-black-color-6);
    border: 1px solid var(--mzd-blue-color);
}

#footer .page-info .info-button span:hover {
    background-color: var(--mzd-blue-color);
    color: var(--mzd-black-color-6);
    border: 1px solid var(--mzd-blue-color);
}

#footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer .footer-bottom .page-address {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#footer .page-address .privacy {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 21px;
    margin-bottom: 17px;
}

#footer .page-address .privacy a {
    font-style: normal;
    font-weight: var(--font-weigth-bold);
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--mzd-black-color-5);
}
#footer .page-address .privacy a#popup-pdf-d{
    cursor: pointer;
}

#footer .page-address .page-address-content {
    width: 100%;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #888888;
}

#footer .page-address .page-address-content .single-content {
    font-weight: var(--font-weigth-regular);
    display: flex;
}

#footer .page-address .page-address-content .single-content.bold {
    font-weight: var(--font-weigth-semi-bold);
}

#footer .footer-bottom .page-theme {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: #FFFFFF;
    position: relative;
}

#footer .page-theme .theme-list,#footer .theme-list-mobile {
    width: 279px;
    height: 48px;
    margin-bottom: 19px;
    background-color: transparent;
    position: relative;
}

#footer .page-theme .theme-list .text-wrapper,#footer .theme-list-mobile .text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: transparent;
    border: 1px solid var(--mzd-black-color-2);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    margin-bottom: -5px;
}

#footer .page-theme .theme-list.active .text-wrapper,#footer .theme-list-mobile.active .text-wrapper {
    background-color: var(--mzd-black-color-2);
    border: 1px solid var(--mzd-black-color-2);
}

#footer .page-theme .theme-list .text,#footer  .theme-list-mobile .text  {
    font-family: var(--sub-font-family);
    font-style: normal;
    font-weight: var(--font-weigth-regular);
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--mzd-black-color-4);
}

#footer .page-theme .theme-list.active .text,#footer .theme-list-mobile.active .text {
    color: var(--bg-color);
}

#footer .page-theme .theme-list .icon,#footer .theme-list-mobile .icon {
    width: 20px;
    height: 20px;
    transform: rotateX(0deg);
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

#footer .page-theme .theme-list.active .icon,#footer .theme-list-mobile.active .icon {
    transform: rotateX(180deg);
}

#footer .theme-list ul.theme-list-choose,#footer .theme-list-mobile ul.theme-list-choose {
    background-color: var(--mzd-black-color-2);
    width: 279px;
    position: absolute;
    list-style-type: none;
    bottom: 48px;
    left: 0;
    transform: translateY(0);
    /* opacity: 0; */
    visibility: hidden;
    /* transition: 0.5s; */
    z-index: 1;
}

@keyframes list-down {
    0% {
        transform: translateY(-100%);
        opacity: 1;
        visibility: visible;
    }

    90% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
        visibility: hidden;
    }
}

#footer .theme-list.active ul.theme-list-choose {
    /* opacity: 1; */
    visibility: visible;
    /* bottom: 48px; */
}
#footer .popup-pdf{
    display: none;
    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 100vw;
    height: 100vh;
    z-index: 16;
    background-color: #FFFFFF;
}

@keyframes list-up {
    0% {
        transform: translateY(0);
        opacity: 0;
        visibility: hidden;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
        visibility: visible;
    }
}

#footer .theme-list ul.theme-list-choose li {
    background-color: var(--mzd-black-color-2);
    width: 100%;
    cursor: pointer;
    user-select: none;
}

#footer .theme-list ul.theme-list-choose li:hover {
    background-color: #222222;
}

#footer .theme-list ul.theme-list-choose li a {
    margin: 0 20px;
    padding: 14px 0;
    display: flex;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: var(--font-weigth-regular);
    font-size: 15px;
    line-height: 150%;
    color: var(--bg-color);
}

#footer .theme-list ul.theme-list-choose li:last-child a {
    border-bottom: 1px solid var(--mzd-black-color-3);
}

#footer .page-theme .copyright {
    font-style: normal;
    font-weight: var(--font-weigth-bold);
    font-size: 13px;
    line-height: 150%;
    text-align: right;
    text-transform: uppercase;
    color: #888888;
}

/* =======================================responsive */
@media (max-width:991px) {
    #footer .footer-content{
        padding: 20px 0 100px 0;
    }
    #footer .page-list{
        display: none;
    }
    #footer .footer-top{
        padding: 40px 0;
        margin-bottom: 40px;
        flex-direction: column;
    }
    #footer .page-info{
        width: 100%;
        padding: 40px;
        margin-left: 30px;
    }
    #footer .page-info h4.info-title{
        font-size: 22px;
        max-width: 70%;
    }
    #footer .page-info .info-content{
        font-size: 15px;
        max-width: 70%;
    }
    #footer .page-info .info-button{
        justify-content: left;
        margin-top: 21px;
    }
    #footer .page-info .info-button span{
        font-size: 15px;
        width: 140px;
        height: 46px;
    }
    #footer .footer-top:before{
        width:calc(100% - 60px);
        left: 30px;
    }
    #footer .footer-bottom{
        flex-direction: column;
        padding: 0 30px;
        position: relative;
    }
    #footer .footer-bottom .page-address{
        width: 100%;
    }
    #footer .footer-bottom .page-theme{
        width: 100%;
        padding-top: 20px;
        align-items: flex-start;
    }
    #footer .page-theme .theme-list{
      display: none;
    }
    #footer .theme-list-mobile{
        display: block;
        margin-top: 60px;
    }
    #footer .page-theme .copyright{
        text-align: left;
        font-size: 11px;
        text-transform: uppercase;
    }
    #footer .theme-list-mobile{
        width: calc(100% - 60px);
        left: 30px;
        margin-bottom: 0;
    }
    #footer .theme-list.active ul.theme-list-choose{
        bottom: -300px;
        transition: none;
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
    }
    #footer .theme-list ul.theme-list-choose li:last-child a{
        border: none;
    }
    #footer .theme-list ul.theme-list-choose li:first-child a{
        border-top: 1px solid #666;
    }
    #footer .theme-list ul.theme-list-choose,#footer .theme-list-mobile ul.theme-list-choose{
        width: 100%;
        bottom: -152px;
    }   
    #footer .page-address .page-address-content .single-content{
        display: flex;
        flex-direction: column;
    }
    #footer .page-theme .theme-list .icon,#footer .theme-list-mobile .icon{
        width: 16px;
        height: 16px;
        cursor: unset;
    }
}

/* 화면 너비 0픽셀 ~ 520픽셀 */
	@media screen and (max-width: 520px) {
	#footer .page-address .privacy .pc_down { display:none;}
}
/* 화면 너비 521픽셀 ~ 919픽셀 */
	@media screen and (min-width: 521px) and (max-width: 919px) {
	#footer .page-address .privacy a#popup-pdf-d { display:none;}
}
/* 화면 너비 920픽셀 ~ 무한픽셀 */
@media screen and (min-width: 920px) {
	#footer .page-address .privacy a#popup-pdf-d { display:none;} 
}

/* Footer Style */