@charset "UTF-8";
.main-visual video {
  width: 100%;
}

.main-visual video {
  /* 하나밖에 없기 때문에 굳이 클래스 지정 안해도 되고 그래서 태그 바로 써도 됨 */
  width: 100%; /*100vw; 모니터 넓이만큼 잡아주는 것*/
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; /*cover 채워넣을 수 있을 만큼 채우고 잘라내라*/
  /*viewport height 보고 있는 디바이스 높이만큼의 길이*/
}

.business.list {
  display: flex;
  color: #111;
}





.business.list .li {
  width: 25%;
  /* width: 260px; /*calc(25% - 40px); 서로 단위가 달라도 연산을 할 수 있다. 주의 할 점은 무조건 떨어져야한다. 사칙연산 다 됨 */
  width: 25%;
}
.business.list .li:nth-child(1) a:before {
  background-image: url("..images/main/main_business_icon01.png");
}
.business.list .li:nth-child(2) a:before {
  background-image: url("..images/main/main_business_icon02.png");
}
.business.list .li:nth-child(3) a:before {
  background-image: url("..images/main/main_business_icon03.png");
}
.business.list .li:nth-child(4) a:before {
  background-image: url("..images/main/main_business_icon04.png");
}
.business.list .li a {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.business.list .li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  backround-repeat: no-repeat;
  background-position: 50% 0;
}
.business.list .li .img-box {
  display: none;
}