body {
    font-family: "Noto Sans KR";
    background-color: #333;
}


.header {
    height: 60px; 
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.input-box {
    position: absolute;
    bottom: 100px; 
    background-color: #fff;
    padding: 20px 40px;
    left: 50%; //화면의 정 중앙 기준으로 옆으로 이동
    transform: translateX(-50%);
    border-radius: 100px;
    .word {
        width:600px;
        height: 40px;
        font-family: "Noto Sans KR";
        border: none;
        font-size: 20px;
        font-weight: 500;
    }
}

.word-list {
    margin-top:100px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        width: 1200px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        li {
            padding: 20px 30px;
            background-color: #ff8ed2;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: 500;

        }
    }
}