@import "vars";

//!important > style > id > class

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: #fff;
  .logo a {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    //background-color: #f00 !important;
  }
  #logo a {
    //background-color: #00f;
  }
  &.on:before {
    top: 0;
  }
  &.on:after {
    opacity: 1;
    transition-delay: 0.25s;
  }

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  &:before {
    content: "";
    display: block;
    height: 160px;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.75);
    backdrop-filter: blur(20px);
    position: absolute;
    left: 0;
    top: -160px;
    z-index: -1;
    transition: all 0.5s ease;
  }
  .gnb {
    .list {
      display: flex;
      > li {
        //background-color: #f00;
        border-radius: 0px 0px 20px 20px;
        padding-bottom: 30px;
        &:hover {
          //background-color: #f00;
          .depth01:after {
            transform: scaleX(1);
          }
          .depth02 {
            //display: block;
            display: flex;
          }
        }
      }
      .depth01 {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-size: $h3;
        font-weight: 500;
        padding: 0 60px;
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          height: 2px;
          left: 50px;
          right: 50px;
          transform: scaleX(0); //물리적 변화에 관련된 css
          transition: all 0.25s ease;
          background-color: #fff;
        }
      }
      .depth02 {
        text-align: center;
        display: none;
        position: absolute;
        padding-left: 40px;
        li {
          a {
            display: block;
            padding: 20px;
          }
        }
      }
    }
  }
}
