/* Header Style */
.mobile-only{
    display: none;
}
#header {
    font-family: var(--main-font-family);
    height: var(--header-height);
    background-color: var(--mzd-black-color-6);
    width: 100%;
    display: flex;
    /* padding: 50px 0; */
    align-items: center;
    justify-content: center;
    z-index: 9;
    /* color: #fff;
    mix-blend-mode: difference; */
    border-bottom: 1px solid transparent;
}
/* header when fixed main banner */
#header.fixed.fixed-main-banner{
    background-color: transparent;
    border: none;
    animation: header-show 225ms cubic-bezier(0, 0, 0.2, 1);
}

#header.fixed.fixed-main-banner ul#nav li{
    animation: linearTop 225ms cubic-bezier(0, 0, 0.2, 1);
}
#header.fixed.fixed-main-banner ul#nav li a{
    color: white;
}
#header.fixed.fixed-main-banner .logo-black {
    display: none;
}
#header.fixed.fixed-main-banner .logo-white {
    display: block;
    opacity: 1;
    visibility: visible;
    animation: linearTop 225ms cubic-bezier(0, 0, 0.2, 1);
}
/* header when fixed main banner */
#header.fixed,
#header.header-big.fixed {
    height: var(--header-height-fixed);
}
#header.fixed .header-content,
#header.header-big.fixed .header-content {
    height: var(--header-height-fixed);
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* transition: 0.5s; */
    z-index: 9;
    animation: header-show 225ms cubic-bezier(0, 0, 0.2, 1);
    /* transition: all .5s linear; */
    border-bottom: 1px solid #EEEEEE;
    background-color: white;
    padding: 0 60px;
}
#header.header-big.fixed .nav-icon span{
   background-color: #141414;
}
#header.header-big.fixed.open .nav-icon span,#header.header-big .nav-icon span{
    background-color: white;
}
#header.header-big.fixed ul#nav li a{
    color: #141414;
}
#header.header-big.fixed.open ul#nav li a{
    color: #fff;
}
#header.header-big.fixed .logo-white{
    display: none;
}
@keyframes header-show {
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      border-bottom: 1px solid transparent;
    }
    to {
      /* opacity: 1; */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      border-bottom: 1px solid #EEEEEE;
    }
}

#header.header-big {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--header-height);
    background-color: transparent;
    z-index: 2;
}

/* #header.fixed .header-content {
    background-color: transparent;
    padding: 0 60px 0 60px;
} */
.video-background{
    object-fit: cover;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
}
@keyframes zoom-in {
    0% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
.header-banner {
    background-image: url('../assets/images/home/banner/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* height: var(--header-height-big); */
    height:100vh;
    position: relative;
    /* padding-top: 450px; */
    overflow: hidden;   
    /* animation: zoom-in 1s ease-out 1; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-banner iframe{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100vw;
    height:56.25vw;
    min-width: 177.77vh;
    min-height: 100vh;
    pointer-events: none;
}
.header-banner .content{
    z-index: 0;
}
.header-banner h2.title {
    width: 100%;
    text-align: center;
    color: var(--mzd-black-color-6);    
}

#header .header-content {
    background-color: var(--mzd-black-color-6);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    box-sizing: border-box;
}

#header.header-big .header-content {
    color: var(--mzd-black-color-6);
    background-color: transparent;
}

#header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .logo-container img{
    max-height: 40px;
}

#header ul#nav {
    display: flex;
    list-style-type: none;
    gap: 48px;
}

#header ul#nav li {
    width: auto;
    /* margin-top: 20px; */
}
#header ul#nav li a {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--mzd-black-color);
}

#header.header-big ul#nav li a {
    color: var(--mzd-black-color-6);
}
#header.header-big.fixed ul#nav li a {
    color: var(--mzd-black-color);
}

#header .logo-container a {
    position: relative;
}

#header.header-big .logo-black,
#header .logo-white {
    /* position: absolute; */
    top: 0;
    left: 0;
   
    display: none;
    /* transform: translateY(-20px); */
}

#header img.mobile-only{
    display: none;
}

#header.header-big .logo-white {
    display: block;
}
#header.header-big.fixed .logo-white {
   display: none;
}
#header.header-big.fixed .logo-black {
    display: block;
}


#nav-icon3,#nav-icon2 {
    width: 22px;
    height: 14px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#nav-icon3 span,#nav-icon2 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon2 span{
    background: #141414;
}
#nav-icon3 span,#nav-icon2.open span{
    background: #fff;
}

/* Icon 3 */
#nav-icon3,#nav-icon2{
    display: none;
}
#nav-icon3 span:nth-child(1),#nav-icon2 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3),
#nav-icon2 span:nth-child(2),#nav-icon2 span:nth-child(3)  {
    top: 6px;
    width: 60%;
    left: 40%;
}

#nav-icon3 span:nth-child(4),#nav-icon2 span:nth-child(4) {
    top: 12px;
}

#nav-icon3.open span:nth-child(1),#nav-icon2.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 40%;
}

#nav-icon3.open span:nth-child(2),#nav-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3),#nav-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(2),#nav-icon3.open span:nth-child(3),
#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(3){
    width: 100%;
    left: 0;
}

#nav-icon3.open span:nth-child(4),#nav-icon2.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 40%;
}
div.popup-pdf-desktop{
    display: none;
    position: fixed;
    z-index: 12;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 1;
    padding-top: 10%;
}
div.popup-pdf-desktop .popup{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
   
    border: 1px solid #141414;
}
div.popup-pdf-desktop .popup .content{
    display: flex;
    padding: 30px;
    margin-left: 0px;
    margin-top: 60px;
}
div.popup-pdf-desktop .popup .footer-button{
    display: flex;
    text-align: center;
}
div.popup-pdf-desktop .popup .footer-button a{
    padding: 15px 40px;
    width: 50%;
    border: 1px solid #141414;
}
div.popup-pdf-mobile{
    display: none;
    position: fixed;
    z-index: 12;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 1;
    padding-top: 10%;
   
}
div.popup-pdf-mobile .popup{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    background: #fff;
    border: 1px solid #141414;
}
div.popup-pdf-mobile .popup .content{
    display: flex;
    padding: 30px;
}
div.popup-pdf-mobile .popup .footer-button{
    display: flex;
    text-align: center;
}
div.popup-pdf-mobile .popup .footer-button a{
    padding: 15px 40px;
    width: 50%;
    border: 1px solid #141414;
}


@media (max-width: 991px) {
    .mobile-only{
        display: block;
    }
    
    #header .logo-container img{
        max-height: 32px;
    }
    #header .logo-container img.logo{
        margin-left: 8px;
    }
    #header.open .header-content,
    #header-big.open .header-content{
        background-color: #141414 !important;
        border-bottom: 1px solid #141414 !important;
    }
    /* header for fixed main banner */
    #header.fixed-main-banner .nav-icon span {
        background-color: #fff;
    }
    /* header for fixed main banner */
    #header ul#nav li a{
        font-size: 26px;
        color: #fff;
    }
    #header img.mobile-only{
        display: block;
    }
    #header img.mobile-hidden{
        display: none;
    }
    #header ul#nav{
        display: none;
    }
    #header ul#nav li{
        margin-top: 20px;
        margin-left: 10px;
    }
    #header ul#nav li:first-child{
        margin-top: 0;
    }
    #header ul#nav.open{
        display: flex;
        position: fixed;
        top: calc(var(--header-height-fixed));
        flex-direction: column;
        gap: 30px;
        justify-content: flex-start;
        left: 0;
        /* animation: fade-in-right .25s 1; */
        z-index: 100;
        background-color: #fff;
        width: 100%;
        padding: 30px;
    }
    #header.header-big ul#nav.open,
    #header.sub-header ul#nav.open{
        background-color: #141414;
        height: calc(100vh - var(--header-height-fixed));
        overflow-y: auto;
    }
  
    #header .header-content{
        flex-direction: column;
        justify-content: center;
        padding: 0 18px;
    }
    #header.fixed .header-content,
    #header.header-big.fixed .header-content{
        padding: 0 18px;
        border-bottom: 1px solid #EEEEEE;
    }
    #header .header-content .header-mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    #header.header-big.open,
    #header.sub-header.open,
    #header.fixed-main-banner.open{
        background-color: #141414;
        border: none;
    }
    
    #header.header-big.open .logo-container,
    #header.sub-header.open .logo-container{
        opacity: 0;
    }
   
    #nav-icon3,#nav-icon2{
        display: block !important;
    }
    div.row{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
    }
    div.row:nth-child(2){
        margin-top: 25px;
    }
    div.row a{
       color: #666666;
       font-size: 18px;
       font-weight: 500;
    }
    div.divider-horizontal{
        background-color: #333333;
        height: 1px;
        width: 100%;
        padding-bottom: 1px;
    }
    div.nav-bottom{
        display: flex;
        gap: 7px;
        align-items: center;
        margin-left: 10px;
    }
    div.nav-bottom:nth-child(2){
        margin-top: 21px;
        margin-bottom: 120px;
    }
    div.nav-bottom >a{
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;
    }

    /* Header big mobile only */
    #header.header-big-mobile{
        background-color: transparent;
        position: absolute;
    }
    #header.header-big-mobile.news-header{
        position: relative !important;
    }
    #header.header-big-mobile .nav-icon span{
        background-color: white;
    }
    #header.header-big-mobile.news-header .nav-icon span{
        background-color: #000000;
    }
    #header.header-big-mobile .logo-black{
        display: none;
    }
    #header.header-big-mobile .logo-white{
        display: block;
    }
    #header.header-big-mobile.news-header .logo-black{
        display: block;
    }
    #header.header-big-mobile.news-header .logo-white{
        display: none;
    }

    #header.header-big-mobile .header-content{
        background-color: transparent;
    }
    #header.header-big-mobile.news-header .header-content{
        background-color: #fff;
    }
    #header.header-big-mobile.fixed {
        position: fixed;
        background-color: white;
    }
    #header.header-big-mobile.fixed.open {
        background-color: #141414;
        /* ;opacity: 0.9 */
    }
    #header.header-big-mobile.fixed .nav-icon span{
        background-color: #141414;
    }
    #header.header-big-mobile.fixed.open .nav-icon span{
        background-color: white;
    }
    #header.header-big-mobile.fixed .logo-black{
        display: block;
    }
    #header.header-big-mobile.fixed .logo-white{
        display: none;
    }
    /* Header sub tech on mobile */

    /* Popup PDF */
    div.popup-pdf-mobile{
        /* display: none;
        position: fixed;
        z-index: 12;
        background-color: #fff;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        opacity: 1; */
        
        padding-top: 50%;
    }
    /* div.popup-pdf-mobile .popup{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 300px;
       
        border: 1px solid #141414;
    }
    div.popup-pdf-mobile .popup .content{
        display: flex;
        padding: 30px;
    }
    div.popup-pdf-mobile .popup .footer-button{
        display: flex;
        text-align: center;
    }
    div.popup-pdf-mobile .popup .footer-button a{
        padding: 15px 40px;
        width: 50%;
        border: 1px solid #141414;
    } */
}

/* Header Style */